body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.mainBarStyle {
  /* width: 50%; */
  background-color: #212121;
  height:100vh;
  position: relative;
}

.welcomeHeaderStyle {
 margin-top: 15%;
 color: white;
 margin-left: 15%;
 font-family: "Helvetica Neue";
}
